<div class="container-fluid text-center">
	<div class="jumbotron page-header headerBackground">
  	<h1>Will {{model.name}} Win?<br><small class='smallText'>{{model.status}}<br></small></h1>
	</div>
	{{ember-chart type="line" data=numberData options=lineOptions legend=true}}
  <h4>
    {{#link-to 'index'}}
      <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span> Go Back
    {{/link-to}}
  </h4>
</div>
