<div class="container-fluid text-center">
  {{#each model as |candidate|}}
    {{#if candidate.isTrump}}
      {{will-trump-win prob=candidate.percentProbability status=candidate.status}}<br>
    {{/if}}
  {{/each}}
  <div style="text-align: center;">
    <table class="candidatesTable">
      {{#each model as |candidate|}}
        {{#if candidate.viable}}
          <tr>
            {{#link-to 'candidates.show' candidate.id}}
              <td class='candidateColumn'>{{candidate.name}}</td>
            {{/link-to}}
            <td class='probabilityColumn'>{{candidate.percentProbability}}%</td>
          </tr>
        {{/if}}
      {{/each}}
    </table>
    <h4>{{link-to 'About' 'about'}}</h4>
  </div>
</div>
